body {
    font-family: "Microsoft JhengHei";
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #333;
    width: 120px;
    height: 50px;
}

td.cell {
    cursor: pointer;
    background-color: #f9f9f9;
}
